# Dependencies
node_modules/

# Next.js
.next/
out/

# Database
prisma/db/*.db-journal

# Environment
.env
.env.local
.env.production

# Logs
*.log
dev.log
server.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/
node_modules
